/* מבנה גריד */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff7f0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #5a3a29;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* עמודת טופס ועמודת תמונה */
    gap: 20px;
}

.form-fields {
    display: grid;
    grid-gap: 15px;
}

.form-fields label {
    font-size: 1rem;
    font-weight: bold;
}

.form-fields input,
.form-fields select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9a18a;
}

.dog-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #d9a18a;
    background-color: #fff;
    padding: 10px;
}
/* עיצוב לכותרת הראשית של העמוד */
.ProfilePageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5a3a29; /* צבע הכותרת */
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9a18a; /* קו תחתון לכותרת */
    letter-spacing: 1px; /* ריווח בין האותיות */
}

.dog-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.image-preview img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.submit-btn {
    background-color: #d9a18a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* שגיאות */
span {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: red;
}

/* רספונסיביות */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* שדות ותמונה בעמודה אחת */
    }

    .image-preview {
        display: none;
    }
}
