{% extends "base.html" %}

{% block title %}Top Kennels{% endblock %}
<link rel="stylesheet" href="{{ url_for('TopKennels.static', filename='css/TopKennels.css') }}">


{% block styles %}
<link rel="stylesheet" href="{{ url_for('TopKennels.static', filename='css/TopKennels.css') }}">
<link rel="stylesheet" href="{{ url_for('TopKennels.static', filename='css/TopKennels.css') }}">

{% endblock %}

{% block content %}
<div class="MainStyle">
    <h1 class="ProfilePageTitle">Top kennels we found for you:</h1>
    <p id="dog-selection"></p>
    <div class="table-container">
        <table id="kennelsTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Grade</th>
                <th>Contact Details</th>
            </tr>
            </thead>
            <tbody>
            <!-- התוכן הדינמי יתווסף כאן -->
            </tbody>
        </table>
    </div>

    <button type="button" class="btmType1" id="backButton">Back to Searching</button>
</div>
{% endblock %}

{% block scripts %}

    <script src="{{ url_for('TopKennels.static', filename='js/TopKennels.js') }}" defer></script>
<script src="{{ url_for('TopKennels.static', filename='js/TopKennels.js') }}" defer></script>





{% endblock %}
