 .PaymentStyle {
    background-color: #fff7f0; /* צבע רקע */
    border: 1px solid #d9a18a; /* גבול */
    border-radius: 15px; /* פינות מעוגלות */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* צל */
    padding: 30px; /* רווח פנימי */
    width: 90%; /* רוחב מקסימלי */
    max-width: 600px; /* מגבלת רוחב */
    margin: 20px auto; /* ממרכז את התיבה */
    box-sizing: border-box; /* מתחשב ב-padding */
    display: flex; /* מציג את התוכן בפלקס */
    flex-direction: column; /* תוכן מסודר אנכית */
    gap: 20px; /* ריווח בין האלמנטים */
    align-items: center; /* יישור תמונה וטקסט אנכית */
}
 h1 , h2{
    text-align: center; /* ממרכז את הטקסט */
    margin: 10px 0; /* רווחים למעלה ולמטה */
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* שני עמודות */
    gap: 20px; /* רווח בין השדות */
    margin: 20px 0;
}
.form-group {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
footer.Raw {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form-group.price-row {
    display: flex;
    justify-content: center; /* ממרכז את השורה */
    align-items: center; /* ממרכז את התוכן בתוך השורה */
    /*margin-bottom: 20px; /* ריווח תחתון */
}
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.ProfilePageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5a3a29;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9a18a;
    letter-spacing: 1px;
}
