{% extends "base.html" %}

{% block title %}Search In Paradise{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('SearchInParadise.static', filename='css/SearchInParadise.css') }}">
{% endblock %}

{% block content %}
<div class="blockStyle">
    <form id="search-form">
        <header>
            <h1 class="ProfilePageTitle">Search in Paradise</h1>
        </header>

        <label for="rating-select">Sort:</label>
        <select id="rating-select">
            <option value="alphabetical">Sort Alphabetically</option>
            <option value="rate">Order By Grade</option>
        </select>

        <div class="Raw">
            <button type="button" class="btmType1" onclick="window.location.href='{{ url_for('homePage.homePage_func') }}'">
                Back to home page
            </button>
            <button type="submit" class="btmType3">Search</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('SearchInParadise.static', filename='js/SearchInParadise.js') }}"></script>
{% endblock %}
