main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* ממלא את כל גובה המסך */
}
.blockStyle {
    width: 60%;
    max-width: 500px;
    padding: 30px;
    background-color: #fff7f0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* כותרת טופס */
.ProfilePageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5a3a29;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9a18a;
    letter-spacing: 1px;
}